 /*found i can do a lot of styling in my js files and it works jsut as well  */

 button {
     color: black;
     font-size: 18px;
     block-size: fit-content;
     /* line-height: 20px; */
     padding: 3px;
     font-family: Georgia;
     background-image: linear-gradient(to right, #34E4EA, 0%, #8AB9B5 50%, rgb(20, 78, 117) 100%);
     border: 2px solid rgb(28, 110, 164);
     display: inline-block;
 }

 button:hover {
     background: #1C6EA4;
 }

 button:active {
     background: #144E75;
 }